<style>
  
.container {
      margin: 50px auto;
    }

    .container h2 {
      font-weight: 700;
      margin-bottom: 30px;
    }

    .table {
      border : 1px solid #ddd;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
      vertical-align: middle;
      text-align: center;
    }

</style>

<div class="container">
    <h2>말풍선 테스트</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>TITLE</th>
          <th>WRITER</th>
          <th>EMAIL</th>
          <th>TAG</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>tooltip example</td>
          <td>hyuna</td>
          <td>hayoon@bimpeers.com</td>
          <td>
            <ejs-tooltip class="btn btn-default" id="tooltip" opensOn='Click' content='Click' [isSticky]='true'>
                <span>Show tooltip</span>
            </ejs-tooltip>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
